html {
  background-color: rgba(156, 196, 242, 1);
  height: 100%;
}

h1 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  padding-left: 50px;
  padding-top: 20px;
  float: left;
  width: 35%;
  text-align: left;
  padding-right: 0px;
  color: white;
}

h2 {
  font-family: 'Dosis', sans-serif;
  color: #05386B;
  width: 350px;
}
h3 {
  font-family: 'Dosis', sans-serif;
  color: #05386B;
  width: 350px;
  font-size: 25px;
}

body {
  background-color: rgba(156, 196, 242, 1);
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  height: 100%;
}

p {
  color: white;
  font-size: 20px;
  font-family: 'Raleway Dots', cursive;
  text-align: left;
}

hr {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  border-style: inset;
  border-width: 1px;
  align-items: center;
  border-color: white;
}

a {
  color: white;
}

a:hover {
  color: grey;

  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

* {box-sizing:border-box}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

ul.topnav li a:hover:not(.active) {
  background-color: #111;
}

ul.topnav li a.active {
  background-color: #6b9ad0;
}

ul.topnav li a.active:hover {
  background-color: #608abb;
}

ul.topnav li.right {
  float: right;
}

@media screen and (max-width: 600px){
  ul.topnav li.right,
  ul.topnav li {float: none;}
}

.resume-container {
  -ms-flex: 50%;
  flex: 50%;
  max-width: 50%;
}

.resume {
  padding: 3%;
  padding-bottom: 0%;
  float: left;
  width: 85%;
  align: center;
  margin: 7%;
}

#resumeText {
  padding-left: 5%;
  width: 80%;
}

.textContainer {
  -ms-flex: 50%;
  flex: 50%;
  max-width: 50%;
}

#ResumeHeader {
  font-size: 120px;
}

#firstBreak {
  width: 97.5%;
}

.resumeHighlights {
  list-style-type: square;
  font-size: 25px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex: 25%;
  display: -ms-flexbox; /* IE10 */
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

@media (max-width: 1000px) {
  .resume-container {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }

  .textContainer {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }

  .resume {
    padding: 5%;
    padding-bottom: 0%;
    margin-bottom: 3%;
  }

  #resumeText {
    padding-left: 12%;
  }
}
